{% extends 'ecom/customer_base.html' %}
{% load static %}
{% block content %}

<section class="home-slider">
  <div class="tp-banner-container">
    <div class="tp-banner-fix" >
      <ul>
        
        <!-- Slider 1 -->
        <li data-transition="random" data-slotamount="7"> <img src="../../static/images/slides/slide-7.jpg" data-bgposition="center top" alt="" />
          <div class="overlay"></div>
          <!-- Layer -->
          <div class="tp-caption sft font-montserrat text-uppercase tp-resizeme rs-parallaxlevel-4" 
                data-x="center" 
                data-y="center" data-voffset="-50"
                data-speed="700" 
                data-start="1000" 
                data-easing="easeOutBack"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="300" 
                data-captionhidden="on"
                style="color: #fff; font-size: 120px; font-weight: bold; letter-spacing:-2px; "> GO your own way. </div>
          
          <!-- Layer -->
          <div class="tp-caption sfb  font-montserrat text-center tp-resizeme rs-parallaxlevel-4" 
                data-x="center" 
                data-y="center" data-voffset="40" 
                data-speed="700" 
                data-start="1700" 
                data-easing="easeOutBack"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="300" 
                data-captionhidden="on" 
                style="color: #fff; font-size: 18px;">Where Every Page Tells a Story</div>
          
          <!-- Layer -->
          <div class="tp-caption sfb tp-resizeme rs-parallaxlevel-4" 
                data-x="center" 
                data-y="center" data-voffset="120" 
                data-speed="700" 
                data-start="2400" 
                data-easing="easeOutBack"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="300" 
                data-captionhidden="on"> <a href="#." class="btn btn-1">Shop Now</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="#" class="btn ">Discover</a> </div>
        </li>
        
        <!-- Slider 2 -->
        <li data-transition="fade" data-slotamount="7"> <img src="../../static/images/slides/slide-8.jpg" data-bgposition="center top" alt="" />
          <div class="overlay"></div>
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-5" 
                data-x="center" 
                data-y="120" 
                data-speed="700" 
                data-start="1700" 
                data-easing="easeOutBack"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="300" 
                data-captionhidden="on"> <img src="../../static/images/logo-mountain.png" alt="" /> </div>
          
          <!-- Layer -->
          <div class="tp-caption customin font-playfair tp-resizeme rs-parallaxlevel-4" 
                data-x="center" 
                data-y="center" data-voffset="-40" 
                data-speed="720" 
                data-start="2400" 
                data-easing="easeOutBack"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="300" 
                data-captionhidden="on" 
                style="color: #fff; font-size: 80px; font-style:italic;"> QuickCart Books </div>
          
          <!-- Layer -->
          <div class="tp-caption sfb  font-playfair text-center tp-resizeme rs-parallaxlevel-4" 
                data-x="center" 
                data-y="center" data-voffset="40" 
                data-speed="1500" 
                data-start="3200" 
                data-easing="easeOutBack"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="300" 
                data-captionhidden="on" 
                style="color: #fff; font-size: 18px;  font-style:italic;"> Elevating Your Reading Experience, One Page at a Time</div>
          
          <!-- Layer -->
          <div class="tp-caption sfb tp-resizeme rs-parallaxlevel-4" 
                data-x="center" 
                data-y="470" 
                data-speed="700" 
                data-start="4000" 
                data-easing="easeOutBack"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="300" 
                data-captionhidden="on"> <a href="#." class="btn btn-1">Shop Now</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="#" class="btn ">Discover</a> </div>
        </li>
        
        <!-- Slider 3 -->
        <li data-transition="random" data-slotamount="7"> <img src="../../static/images/slides/slide-6.jpg" data-bgposition="center center" alt="" /> 
          <!-- SLIDER LAYERS -->
          <div class="tp-caption lfr tp-resizeme rs-parallaxlevel-4" 
                data-x="right" 
                data-y="top"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-speed="700" 
                data-start="1000" 
                data-easing="Back.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="300" 
                data-captionhidden="on"        
                style="z-index: 1;"> <img src="../../static/images/slides/slide-9-1.png" alt=""> </div>
          
          <!-- Layer -->
          <div class="tp-caption font-montserrat text-center text-uppercase sft tp-resizeme rs-parallaxlevel-4" 
                data-x="left" 
                data-y="center" data-voffset="-80" 
                data-speed="700" 
                data-start="1000" 
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-easing="Back.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="300" 
                data-captionhidden="on"
                style="color: #272727; font-size: 18px; font-weight: normal; letter-spacing: 3px; border-top:1px solid #272727; border-bottom:1px solid #272727; padding:20px 0;">Where Every Book<br>
                Finds Its Perfect Reader </div>
          
          <!-- Layer -->
          <div class="tp-caption sfb tp-resizeme rs-parallaxlevel-4" 
                data-x="left" 
                data-y="center" data-voffset="20" 
                data-speed="700" 
                data-start="1500"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-easing="Back.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="300" 
                data-captionhidden="on"
                style="z-index: 10;"> <a href="#" class="btn btn-1">SHOP NOW</a> </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- CONTENT START -->
<div class="content"> 
  
  <!--======= NEW COLLECRION =========-->
  <section class="section-p-30px grid-collection">
    <div class="container">
      <ul class="row">
        
        <!-- ADD 1 -->
        <li class="col-sm-4">
          <div class="inn-sec animate fadeInLeft" data-wow-delay="0.6s"> <a href="#."> <img class="img-responsive" src="../../static/images/grid-bnr-img-1.jpg" alt="">
            </a> </div>
          
          <!-- ADD 2 -->
          <div class="inn-sec animate fadeInLeft" data-wow-delay="0.6s"> <a href="#."><img class="img-responsive" src="../../static/images/grid-bnr-img-2.jpg" alt="">
            </a> </div>
        </li>
        
        <!-- ADD 3 -->
        <li class="col-sm-4 animate fadeInUp" data-wow-delay="0.6s">
          <div class="inn-sec trd"> <a href="#."> <img class="img-responsive" src="../../static/images/grid-bnr-img-3.jpg" alt="">

            </a> </div>
        </li>
        
        <!-- ADD 1 -->
        <li class="col-sm-4">
          <div class="inn-sec animate fadeInRight" data-wow-delay="0.6s"> <a href="#."> <img class="img-responsive" src="../../static/images/grid-bnr-img-4.jpg" alt="">
            </a> </div>
          
          <!-- ADD 2 -->
          <div class="inn-sec last animate fadeInRight" data-wow-delay="0.6s"> <a href="#."><img class="img-responsive" src="../../static/images/grid-bnr-img-5.jpg" alt="">
              <span> ALL PRODUCTS</span> </div>
            </a> </div>
        </li>
      </ul>
    </div>
  </section>

<!--======= Services =========-->
<section class="section-p-60px no-padding-t services">
  <div class="container"> 
    <!--  Tittle -->
    <div class="tittle animate fadeInUp" data-wow-delay="0.4s">
      <h5>MAIN BOOK GENRES</h5>
      <p>Discover variety of books</p>
    </div>
    
    <!--  Services -->
    <ul class="row">
      
      <!--  Fashion Design -->
      <li class="col-sm-3 animate fadeInLeft" data-wow-delay="0.4s">
        <div class="icon"><i class="fa fa-anchor"></i></div>
        <h6>KIDS STORY TIME</h6>
        <hr>
        <p class="font-montserrat">Explore vibrant tales, captivating illustrations, and stories that inspire the joy of discovery for children of all ages.</p>
      </li>
      
      <!--  Fashion Design -->
      <li class="col-sm-3 animate fadeInleft" data-wow-delay="0.6s">
        <div class="icon"><i class="fa fa-headphones"></i></div>
        <h6>MUSICAL BOOKS</h6>
        <hr>
        <p class="font-montserrat"> Explore vibrant tales, captivating illustrations, and stories that inspire the joy of discovery for children of all ages.</p>
      </li>
      
      <!--  Fashion Design -->
      <li class="col-sm-3 animate fadeInRight" data-wow-delay="0.4s">
        <div class="icon"><i class="fa fa-paint-brush"></i></div>
        <h6>DESIGN BOOKS</h6>
        <hr>
        <p class="font-montserrat">Whether you're a student, lifelong learner, or educator, embark on a journey of enlightenment with our thoughtfully chosen educational titles.</p>
      </li>
      
      <!--  Fashion Design -->
      <li class="col-sm-3 animate fadeInRight" data-wow-delay="0.6s">
        <div class="icon"><i class="fa fa-leaf"></i></div>
        <h6>EDUCATIONAL BBOOKS</h6>
        <hr>
        <p class="font-montserrat">Elevate your design sensibilities with our carefully curated selection of books that blend form and function.





        </p>
      </li>
    </ul>
  </div>
</section>

<section class="section-p-60px no-padding-b team">
  <div class="container"> 
    {%if products%}
    <!-- TITTLE -->
    <div class="tittle animate fadeInUp" data-wow-delay="0.4s">
      <h5>PRODUCTS</h5>
      <p>Explore Our Collection: Handpicked, Diverse, and Unforgettable Treasures Await You. </p>
    </div>
    <ul class="row">
      
      <!-- TEAM 1 -->
      {% for p in products %}
      <li class="col-md-4 animate fadeInUp" data-wow-delay="0.4s"> <img class="img-responsive"  src="{% static p.product_image.url %}" alt="" >
        <h4>{{p.name}}</h4>
        <h6>${{p.price}}</h6>
        <p>{{p.description}}</p>
        
        <!--======= FOOTER ICONS =========-->
        <a href="{% url 'add-to-cart' p.id  %}">
        <button style="padding: 10px 20px; background-color: #3498db; color: #fff; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          ADD TO Cart
        </button></a>
      </li>
      {% endfor %}
      {% endif %}
      

    </ul>
  
    <ul class="row section-p-30px">

      

    </ul>
  </div>
</section>
</div>
</div>
</section>
{% endblock content %}
